
@{
    ViewBag.Title = "main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>main</h2>


<script type="text/javascript" src="~/Scripts/SDK/VSS.SDK.js"></script>
<script type="text/javascript" src="~/Scripts/Views/main.js"></script>
    <script>
        VSS.init({ setupModuleLoader: true });
    </script>

